
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.attendance-statistics-panel {
    -fx-padding: 0 0 0 0;
}

.attendance-statistics-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-width: 1;
}

.attendance-statistics-scroll-pane > .viewport {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.attendance-statistics-scroll-pane > .corner {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.attendance-statistics-grid {
    -fx-padding: 10 5 5 10;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.attendance-statistics-cell {
    -fx-alignment: center;
    -fx-padding: 1 1;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-border-color: derive(#1d1d1d, 45%);
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 28%);
    -fx-min-width: 40;
}

.attendance-statistics-header {
    -fx-alignment: center;
    -fx-padding: 1 1;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-color: derive(#1d1d1d, 55%);
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 35%);
    -fx-min-width: 50;
}

.attendance-statistics-first-column {
    -fx-min-width: 100;
}
